.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--mantine-color-background);
    color: var(--mantine-color-text);
    transition: background-color 0.3s ease, color 0.3s ease;
  }